<!DOCTYPE html>
<html>
	<head>
		<title>Google Analytics Data Visualization</title>
		<meta name="description" content="Google Analytics Data Visualization" />
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<style>
			header,
			main {
				text-align: center;
			}
		</style>
	</head>

	<body>
		<header>
			<h1>Google Analytics Data Visualization</h1>
		</header>

		<main>
			<p id="deets">
				<select style="display: center"></select>
			</p>
			<p><a href="/clear">Switch view</a> | <a href="/logoff">Log off</a></p>
		</main>

		<script
			src="https://code.jquery.com/jquery-2.2.1.min.js"
			integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
			crossorigin="anonymous"
		></script>
		<script src="/success.js"></script>
	</body>
</html>
